<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Keress minket bátran a közösségi médián is:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com/progmasters.hu/" target="_blank" class="me-4 text-reset">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/progmasters/?hl=hu" target="_blank" class="me-4 text-reset">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://hu.linkedin.com/school/progmasters/" target="_blank" class="me-4 text-reset">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/Strukturavaltas-Frontend-2021/angular-project-teamwork-4-es-terminal" target="_blank" class="me-4 text-reset">
                <i class="fa fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">Mi vagyunk a 4-es Terminál!</h6>
                    <p>
                        Egy ambíciózus csapat, akiknek a legfőbb küldetése, hogy minél több emberrel megszerettessük a minőségi nyaralást.
                    </p>
                    <p>
                        Csapatunk mindegyik tagja imád utazni, így pontosan tudjuk, hogy egy nyaralás esetén milyen programokra vágyhatsz.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Kirándulásaink
                    </h6>
                    <p>
                        <a routerLink="belfoldi"  class="text-reset">Belföldi utak</a>
                    </p>
                    <p>
                        <a routerLink="fovarosi" class="text-reset">Fővárosi túrák</a>
                    </p>
                    <p>
                        <a routerLink="kulfoldi" class="text-reset">Külföldi utak</a>
                    </p>
                    <!-- <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p> -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Hasznos linkek
                    </h6>
                    <p>
                        <a routerLink="contact" class="text-reset">Kapcsolat</a>
                    </p>
                    <p>
                        <a href="https://www.tripadvisor.com/" target="_blank" class="text-reset">TripAdvisor</a>
                    </p>
                    <p>
                        <a href="https://www.bbc.com/weather" target="_blank" class="text-reset">BBC Weather</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Kapcsolati információk
                    </h6>
                    <p><i class="fa fa-home me-3"></i>Budapest, Irányi u. 3, 1056</p>
                    <p>
                        <i class="fa fa-envelope me-3"></i>
                        negyesterminal@gmail.com
                    </p>
                    <p><i class="fa fa-phone me-3"></i> + 36 444 4444</p>
                    <p><i class="fa fa-print me-3"></i> + 36 444 4444</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright - 4-es Terminál Csapat
    </div>
    <!-- Copyright -->
</footer>
