@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700;900&family=Spectral:ital,wght@0,400;1,500&display=swap");

.card-title {
    font-family: "Sansita Swashed", cursive;
    font-weight: 700;
    font-size: 4vh;
    padding: 1rem;
    letter-spacing: 1px;
}

.mainImage img {
    max-width: 300px;
}
